{erl_opts, [no_debug_info]}.
{deps, []}.

%% escript
{escript_main_app, e_acs}. % specify which app is the escript app
{escript_name, gen_acs}. % name of final generated escript
{escript_emu_args, "%%! -escript main gen_acs\n"}. % emulator args
%%{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
%%{escript_comment, "%%\n"}. % comment at top of escript file